.formfloating{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.form-control{
    background-color: azure;

}
body {
    background-color: antiquewhite;
}